<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <link rel="icon" href="/images/user/FAV LOGO.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>paintcont</title>
    <link rel="stylesheet" href="/css/UserCss/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/UserCss/style.css">
</head>

<body>
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="#"> <img src="/images/user/logo-removebg-preview.png" alt="logo"
                                width="100"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/products">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/error">About us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/error">Contact us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="hearer_icon d-flex align-items-center">
                            <a href="#" id="search_1"><i class="fas fa-search"></i></a>
                            <a href="#" id="#"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                        <div class="hearer_icon d-flex align-items-center">
                            <a href=""><i class="fas fa-heart"></i></a>
                            <a href=""><i class="fas fa-user-circle"></i></a>
                            <a href="/logout"><i class="fas fa-power-off"></i></a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>




    <main>
        <form id="checkoutForm" onsubmit="event.preventDefault(); checkout()" method="POST"
            enctype="multipart/form-data">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="shipping-address">
                            <h2>User Address</h2>
                            <hr>
                            <div class="form-group">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="userAddress">Select Address</label>
                                            <select id="userAddress" name="userAddress"
                                                class="form-control dropDown-address" style="height: 40px;">
                                                <% for(let i=0; i<user.address.length; i++) { %>
                                                    <option value="<%= user.address[i]._id %>">
                                                        <%= user.address[i].city %>, <%= user.address[i].state %>,
                                                                Pincode - <%= user.address[i].pin %>
                                                    </option>
                                                    <% } %>



                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <!-- Coupon Card Section -->
                    <div class="form-group">

                    </div>
                    <div class="col-md-6">
                        <div class="coupon-card">
                            <h2>Coupon Card</h2>
                            <hr>
                            <form>
                                <!-- Add coupon code input field here -->
                                <div class="form-group">
                                    <input type="text" id="coupon" name="coupon" placeholder="Enter your coupon code"
                                        style="border-radius: 10px; background-color: transparent; width: 300px; height: 40px;">
                                    <button class="btn btn-outline-dark" id="applyCouponBtn" type="button"
                                        style="border-radius: 10px; margin-left: .2rem; letter-spacing: .2px; padding: 1px 5px 1px 5px;">Apply
                                    </button>
                                    <button class="btn btn-dark" type="button" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop"
                                        style="border-radius: 10px; margin-left: .2rem; letter-spacing: .2px; padding: 1px 5px 1px 5px;">Available
                                        Coupons
                                    </button>
                                </div>

                                <hr>
                                <!-- Include a apply button to apply the coupon -->

                                <div class="d-flex align-items-center">

                                </div>

                                <input type="hidden" id="discountinput" name="discountinput" value="">


                                <div class="w-100 d-flex justify-content-start">
                                    <p class="text-success" id="alert_tag"></p>
                                </div>

                                <!-- modals!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            </div>
                                            <div class="modal-body">
                                                <div class="modal-body">
                                                    <h5>Coupon Information</h5>
                                                    <hr>
                                                    <table class="table">
                                                        <thead>
                                                        <tbody>
                                                            <% console.log(coupon,"============================================="); %>
                                                    <% if(coupon.length > 0) { %>
                                                    <% for(let i=0; i<coupon.length; i++) { %>
                                                <tr>
                                                    <h2> <b><%= coupon[i].code %></b> </h2> <h4><%= coupon[i].type %> <%= coupon[i].discount %>!!!</h4>
                                                    <hr>
                                                </tr>
                                                <!-- Add more rows as needed -->
                                                <% } %>
                                                <% }else { %> 
                                                    <p>No coupons Available :(</p>
                                                <% } %> 
                                                
                                            </tbody>
                                            </table>
                                          </div>
                                          
                                      </div>
                                      <div class=" modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- modals!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->




                            </form>
                        </div>
                    </div>
                </div>
                <!-- Product Summary Section -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-summary">
                            <h2>Product Summary</h2>
                            <% if(user.cart.length> 0) { %>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>#</td>
                                            <th>Product</th>
                                            <th>Name</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Total Prize</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let sum=0 %>
                                            <% user.cart.forEach((item,index)=> { %>
                                                <!-- Add product rows dynamically based on user's cart -->
                                                <tr>
                                                    <td>
                                                        <%= index + 1 %>
                                                    </td>
                                                    <input type="hidden" value="<%= item.productId._id %>"
                                                        name="product">
                                                    <td><a
                                                            href="/products/product-details?productId=<%= item.productId._id %>"><img
                                                                src="/userimages/<%= item.productId.productPhoto[0] %>"
                                                                alt="Product Image" class="img-fluid" width="100"></a>
                                                    </td>
                                                    <td>
                                                        <%= item.productId.productName %>
                                                    </td>
                                                    <td>
                                                        <%= item.productQuantity %>
                                                    </td>
                                                    <input type="hidden" name="qnty"
                                                        value="<%= item.productQuantity %>">
                                                    <td>
                                                        <%= item.unit %>
                                                    </td>

                                                    <td class="total" id="total<%= item.productId._id %>">
                                                        <%= item.productQuantity * item.unit %>
                                                    </td>
                                                    <input type="hidden" name="unit" value="<%= item.unit %>">
                                                </tr>
                                                <!-- Add more product rows as needed -->
                                                <% sum +=item.productQuantity * item.unit %>
                                                    <% }) %>
                                    </tbody>
                                </table>

                                <div>
                                    <p class="mb-0" id="discount">
                                    </p>
                                    <!-- <p class="mb-0 font-monospace" id="walletalert" value=""></p> -->
                                </div>

                                <%const prev=sum %>
                                    <input type="hidden" id="prevamt" value="<%= prev %>">
                                    <h3 id="cartTotal">Total : <%= sum %>
                                    </h3>











                                    <input type="hidden" name="totalAmount" id="totalamount" value="<%= sum %>">

                                    <!-- Add this checkbox for payment method -->
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="onlinePayment"
                                            name="paymentMethod" value="online">
                                        <label class="form-check-label" for="onlinePayment">Pay Online</label>
                                    </div>

                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="cashOnDelivery"
                                            name="paymentMethod" value="cash">
                                        <label class="form-check-label" for="cashOnDelivery">Cash on Delivery</label>
                                    </div>
                                    <hr>
                                    <button type="submit" class="btn btn-success">Place Order</button>
                                    <% } else { %>
                                        <p>Sorry !!!</p>
                                        <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>
    <script>
        /////////////////////////////////////////////////////////////////////////////////////////

        document.getElementById('applyCouponBtn').addEventListener('click', async () => {
            const selectedCoupon = document.getElementById('coupon').value;
            const totalamountInput = document.getElementById('totalamount');
            const prevAmount = document.getElementById('prevamt').value

            const discountElement = document.getElementById('discount');
            const subtotalElement = document.getElementById('cartTotal');
            const discountInput = document.getElementById('discountinput');

            console.log(selectedCoupon);

            // Send a request to your server to apply the selected coupon
            const response = await fetch(`/apply-coupon/${selectedCoupon}/${prevAmount}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            const data = await response.json();

            console.log(data);
            if (data.success) {
                console.log('======fsdfdsfsadf========================ff');
                // Update the displayed subtotal with the discounted price
                document.getElementById('cartTotal').innerHTML = `Total: ₹ ${data.discountedPrice}`;


                document.getElementById('alert_tag').innerHTML = `${data.message}`;

                discountElement.innerHTML = `Discount: ₹ -${data.discount}`;
                discountInput.value = data.discount;
                totalamountInput.value = data.discountedPrice;
            } else {
                // Display an error message for invalid coupons
                document.getElementById('alert_tag').innerHTML = `${data.message}`;
            }
        });

        /////////////////////////////////////////////////////////////////////////////////////////
        function checkout() {
            fetch("/cart/checkout", {
                method: "POST",
                body: new URLSearchParams($('#checkoutForm').serialize()),
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                }
            })
                .then(response => response.json())
                .then(res => {
                    if (res.codSuccess) {
                        alert("order")
                    } else if (res.razorSuccess) {
                        console.log('inside front < ===========================');
                        const order = {
                            "key": "" + res.key_id + "",
                            "amount": "" + res.amount + "",
                            "currency": "INR",
                            "name": "" + res.name + "",
                            "prefill": {
                                "contact": "" + res.contact + "",
                                "name": "" + res.name + "",
                                "email": "" + res.email + ""
                            },
                            "handler": function (response) {
                                // alert("paymentDone")
                                verifypayment()
                                updateOrderStatus(res.orderId, "paid");
                            },

                        }
                        console.log('<<<<<<<<<<<<<<<<<<<<<<<<');

                        const razorpay = new Razorpay(order);

                        const done = razorpay.open();

                    } else {
                        window.location.href = '/cart/checkout/orderSuccess'
                    }
                })
                .catch(err => {
                    console.error(err);
                });
        }

        // =================
        function verifypayment() {
            fetch("/verify-payment", {
                method: "POST",
                body: new URLSearchParams($('#checkoutForm').serialize()),
            })
                .then((response) => {
                    if (response.ok) {
                        // Handle success, e.g., show a modal or redirect
                        window.location.href = '/cart/checkout/orderSuccess'
                    } else {
                        // Handle error
                        console.error("Payment verification failed");
                    }
                })
                .catch((error) => {
                    console.error("Error while verifying payment:", error);
                });
        }

    </script>




    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="footer_iner">
            <div class="container">
                <hr class="my-4">
                <div class="row align-items-center">
                    <div class="col-lg-8">

                        <div class="footer_menu">
                            <div class="footer_logo">
                                <a href="index.html"><img src="/images/user/logo-removebg-preview.png" alt="#"></a>
                            </div>
                            <div class="footer_menu_item">`
                                <a href="index.html">Home</a>
                                <a href="about.html">About</a>
                                <a href="product_list.html">Products</a>
                                <a href="#">Pages</a>
                                <a href="blog.html">Blog</a>
                                <a href="contact.html">Contact</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="social_icon">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright_part">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-12">
                        <div class="copyright_text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
        function updateCartTotal() {
            let cartTotal = 0;
            $(".total").each(function () {
                cartTotal += parseFloat($(this).text().replace(" ", ""));
            });

            // Set the cart total in the "cartTotal" element
            $("#cartTotal").text(" " + cartTotal.toFixed(2));
        }
    </script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>